.holiday-types{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: var(--container-padding);
    height: var(--holiday-types-height);
    margin-top: 20px;
}

.holiday-types .filters{
    padding: 7px 16px;
    border: 1px solid var(--clr-light-grey);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    flex-direction: row;
    height: 48px;
    gap: 0.4rem;
}

.holiday-types .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.holiday-types .container .right{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.holiday-types .container .left-arrow,
.holiday-types .container .right .right-arrow{
    height: 100%;
    width: var(--holiday-arrow-width);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.holiday-types .container .left-arrow{
    position: absolute;
    left: 0;
    top: 0;
}

.holiday-types .container .right{
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--bg-color);
}

.holiday-types .container .left-arrow button,
.holiday-types .container .right .right-arrow button{
    border: 1px solid var(--clr-light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    width: 28px;
    border-radius: 50%;
}

.holiday-types .container .left-arrow button:hover,
.holiday-types .container .right .right-arrow button:hover{
    box-shadow: var(--box-shadow);
}

.holiday-types .container .left-arrow button img,
.holiday-types .container .right .right-arrow button img{
    width: 12px;
    height: 12px;
}

.holiday-types .container .types{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    transition: transform 1000ms ease-in-out;
}

.holiday-type{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    position: relative;
    color:var(--clr-grey);
    margin: 0 0.4rem;
}

.holiday-type .icon{
    width: 24px;
    height: 24px;
    margin-bottom: 0.7rem;
}

.holiday-type .name{
    font-size: 0.7rem;
    color: var(--clr-grey);
    white-space: nowrap;
}

.holiday-type:hover::before{
    content: '';
    width: 90%;
    height: 1px;
    background-color: var(--clr-light-grey);
    border-radius: 900;
    position: absolute;
    bottom: -30%;
}

.holiday-type.selected:hover::before{
    background-color: #484848;
}

