.navbar{
    height: var(--navbar-height);
    padding: var(--container-padding);
    border-bottom: 1px solid var(--clr-light-grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo-container{
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar .logo-container .logo{
    height: 64px;
    width: 118px;
}

.navbar .user{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar .user .link{
    padding: 0.65rem;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    border-radius: 2rem;
}

.navbar .user .link:hover,
.navbar .user .world:hover{
    background-color: rgb(238, 238, 238);
}

.navbar .user .world{
    padding: 0.7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .user .world img,
.navbar .user .account .hamburger{
    width: 16px;
    height: 16px;
}

.navbar .user .account{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px 5px 12px;
    border-radius: 500px;
    border: 1px solid var(--clr-light-grey);
    margin-left: 4px;
}

.navbar .user .account:hover{
    box-shadow: var(--box-shadow);
}

.navbar .user .account .pfp{
    width: 30px;
    height: 30px;
    margin-left: 12px;
}